<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debugging</key>
	<dict>
		<key>ALL-ShowFrameRate</key>
		<true/>
		<key>ALL-ShowNodeCount</key>
		<true/>
		<key>IOS-ShowDrawCount</key>
		<false/>
		<key>IOS-ShowQuadCount</key>
		<false/>
		<key>IOS-ShowPhysics</key>
		<false/>
		<key>IOS-ShowFields</key>
		<false/>
	</dict>
	<key>Defaults</key>
	<dict>
		<key>OSX-Start-FullScreen</key>
		<false/>
		<key>OSX-SelectedResolution</key>
		<integer>0</integer>
		<key>OSX-Resolutions</key>
		<array>
			<dict>
				<key>Size-Width</key>
				<integer>1024</integer>
				<key>Size-Height</key>
				<integer>768</integer>
			</dict>
		</array>
		<key>ALL-Introduce</key>
		<false/>
	</dict>
	<key>GameParams</key>
    <dict>
        <key>Levels</key>
        <array>
            <string>Level1.txt</string>
            <string>Level2.txt</string>
            <string>Level3.txt</string>
            <string>Level4.txt</string>
            <string>Level5.txt</string>
            <string>Level6.txt</string>
            <string>Level7.txt</string>
            <string>Level8.txt</string>
            <string>Level9.txt</string>
            <string>Level10.txt</string>
            <string>Level11.txt</string>
            <string>Level12.txt</string>
            <string>Level13.txt</string>
            <string>Level14.txt</string>
            <string>Level15.txt</string>
            <string>Level16.txt</string>
            <string>Level17.txt</string>
        </array>
        <key>Players</key>
        <array>
            <dict>
                <key>PlayerName</key>
                <string>NINJA VINCE</string>
                <key>Anim_Running</key>
                <dict>
                    <key>AtlasFileName</key>
                    <string>Male</string>
                    <key>FPS</key>
                    <integer>18</integer>
                    <key>Frames</key>
                    <array>
                        <string>Run__000</string>
                        <string>Run__001</string>
                        <string>Run__002</string>
                        <string>Run__003</string>
                        <string>Run__004</string>
                        <string>Run__005</string>
                        <string>Run__006</string>
                        <string>Run__007</string>
                        <string>Run__008</string>
                        <string>Run__009</string>
                    </array>
                </dict>
                <key>Anim_Jump</key>
                <dict>
                    <key>AtlasFileName</key>
                    <string>Male</string>
                    <key>FPS</key>
                    <integer>16</integer>
                    <key>Frames</key>
                    <array>
                        <string>Jump__000</string>
                        <string>Jump__001</string>
                        <string>Jump__002</string>
                        <string>Jump__003</string>
                        <string>Jump__004</string>
                        <string>Jump__005</string>
                        <string>Jump__006</string>
                        <string>Jump__007</string>
                        <string>Jump__008</string>
                        <string>Jump__009</string>
                    </array>
                </dict>
                <key>Anim_Death</key>
                <dict>
                    <key>AtlasFileName</key>
                    <string>Male</string>
                    <key>FPS</key>
                    <integer>12</integer>
                    <key>Frames</key>
                    <array>
                        <string>Dead__000</string>
                        <string>Dead__001</string>
                        <string>Dead__002</string>
                        <string>Dead__003</string>
                        <string>Dead__004</string>
                        <string>Dead__005</string>
                        <string>Dead__006</string>
                        <string>Dead__007</string>
                        <string>Dead__008</string>
                        <string>Dead__009</string>
                    </array>
                </dict>
                <key>Anim_Throw</key>
                <dict>
                    <key>AtlasFileName</key>
                    <string>Male</string>
                    <key>FPS</key>
                    <integer>26</integer>
                    <key>Frames</key>
                    <array>
                        <string>Throw__000</string>
                        <string>Throw__001</string>
                        <string>Throw__002</string>
                        <string>Throw__003</string>
                        <string>Throw__004</string>
                        <string>Throw__005</string>
                        <string>Throw__006</string>
                        <string>Throw__007</string>
                        <string>Throw__008</string>
                        <string>Throw__009</string>
                    </array>
                </dict>
                <key>Anim_Idle</key>
                <dict>
                    <key>AtlasFileName</key>
                    <string>Male</string>
                    <key>FPS</key>
                    <integer>14</integer>
                    <key>Frames</key>
                    <array>
                        <string>Idle__000</string>
                        <string>Idle__001</string>
                        <string>Idle__002</string>
                        <string>Idle__003</string>
                        <string>Idle__004</string>
                        <string>Idle__005</string>
                        <string>Idle__006</string>
                        <string>Idle__007</string>
                        <string>Idle__008</string>
                        <string>Idle__009</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>NINJA SUKIE</string>
                <key>Anim_Running</key>
                <dict>
                    <key>AtlasFileName</key>
                    <string>Female</string>
                    <key>FPS</key>
                    <integer>18</integer>
                    <key>Frames</key>
                    <array>
                        <string>Run__000</string>
                        <string>Run__001</string>
                        <string>Run__002</string>
                        <string>Run__003</string>
                        <string>Run__004</string>
                        <string>Run__005</string>
                        <string>Run__006</string>
                        <string>Run__007</string>
                        <string>Run__008</string>
                        <string>Run__009</string>
                    </array>
                </dict>
                <key>Anim_Jump</key>
                <dict>
                    <key>AtlasFileName</key>
                    <string>Female</string>
                    <key>FPS</key>
                    <integer>16</integer>
                    <key>Frames</key>
                    <array>
                        <string>Jump__000</string>
                        <string>Jump__001</string>
                        <string>Jump__002</string>
                        <string>Jump__003</string>
                        <string>Jump__004</string>
                        <string>Jump__005</string>
                        <string>Jump__006</string>
                        <string>Jump__007</string>
                        <string>Jump__008</string>
                        <string>Jump__009</string>
                    </array>
                </dict>
                <key>Anim_Death</key>
                <dict>
                    <key>AtlasFileName</key>
                    <string>Female</string>
                    <key>FPS</key>
                    <integer>12</integer>
                    <key>Frames</key>
                    <array>
                        <string>Dead__000</string>
                        <string>Dead__001</string>
                        <string>Dead__002</string>
                        <string>Dead__003</string>
                        <string>Dead__004</string>
                        <string>Dead__005</string>
                        <string>Dead__006</string>
                        <string>Dead__007</string>
                        <string>Dead__008</string>
                        <string>Dead__009</string>
                    </array>
                </dict>
                <key>Anim_Idle</key>
                <dict>
                    <key>AtlasFileName</key>
                    <string>Female</string>
                    <key>FPS</key>
                    <integer>14</integer>
                    <key>Frames</key>
                    <array>
                        <string>Idle__000</string>
                        <string>Idle__001</string>
                        <string>Idle__002</string>
                        <string>Idle__003</string>
                        <string>Idle__004</string>
                        <string>Idle__005</string>
                        <string>Idle__006</string>
                        <string>Idle__007</string>
                        <string>Idle__008</string>
                        <string>Idle__009</string>
                    </array>
                </dict>
                <key>Anim_Throw</key>
                <dict>
                    <key>AtlasFileName</key>
                    <string>Female</string>
                    <key>FPS</key>
                    <integer>26</integer>
                    <key>Frames</key>
                    <array>
                        <string>Throw__000</string>
                        <string>Throw__001</string>
                        <string>Throw__002</string>
                        <string>Throw__003</string>
                        <string>Throw__004</string>
                        <string>Throw__005</string>
                        <string>Throw__006</string>
                        <string>Throw__007</string>
                        <string>Throw__008</string>
                        <string>Throw__009</string>
                    </array>
                </dict>
            </dict>
        </array>
    </dict>
</dict>
</plist>
